<main class="p-3">
    <h1 class="fs-3 fw-bold">Reports - Yamazumi Hyou per Associate</h1>

    <div class="select-week my-3">
        <span>Select a week: </span>
        <span class="calendar">
            <i class="bi bi-calendar-event"></i>
        </span>

        <div class="filter">
            <table>
                <tr>
                    <td>Start Date</td>
                    <th>2023/5/1(Mon)</th>
                    <td>End Date</td>
                    <th>2023/5/7 (Sun)</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="select-name">
        <span>Associate Name:</span>
        <span class="fw-bold ass-name">
            Diola Norman
        </span>
        <span>Shift Type:</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="dropdown-button" id="shift" ngbDropdownToggle>
                Select Shift
            </button>
            <div ngbDropdownMenu aria-labelledby="shift">
                <button class="dropdown-item" ngbDropdownItem>Day Shift</button>
                <button class="dropdown-item" ngbDropdownItem>Night Shift</button>
            </div>
        </div>

        <button class="search" (click)="toggleGraph()">Search</button>
    </div>
    
    <ng-container *ngIf="isVisible">
        <p class="fw-bold text-primary my-3 text-center">Showing Results between 2023/5/1 to 2023/5/7</p>
        <div class="bar-container">
        <div class="container" style="width: 100%;">
            <table id="q-graph">
                <tbody>
                    <tr class="qtr" id="q1">
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>
                        
                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                    <tr class="qtr" id="q2">
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>

                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                    <tr class="qtr" id="q3">
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>
                        
                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                    <tr class="qtr" id="q4">
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>
                        
                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                    <tr class="qtr" id="q5">
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>
                    
                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                    <tr class="qtr" id="q6">    
                        <th scope="row">04/30/23 (Mon)</th>
                        <td class="sent bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="sent-2 bar" style="height: 40px;">
                            <p>PACKING</p>
                        </td>
                        <td class="sent-3 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="sent-4 bar" style="height: 254px;">
                            <p>SHIPPING</p>
                        </td>
                    
                        <td class="paid bar" style="height: 100px;">
                            <p>PICK UP PARTS</p>
                        </td>
                        <td class="paid-2 bar" style="height: 90px;">
                            <p>UNLOAD PARTS</p>
                        </td>
                        <td class="paid-3 bar" style="height: 90px;">
                            <p>SHIPPING</p>
                        </td>
                        <td class="paid-4 bar" style="height: 250px;">
                            <p>PACKING</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div id="ticks">
                <div class="tick" style="height: 59px;">
                    <p>10H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>9H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>8H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>7H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>6H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>5H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>4H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>3H</p>
                </div>
                <div class="tick" style="height: 59px;">
                    <p>2H</p>
                </div>                
                <div class="tick" style="height: 59px;">
                    <p>1H</p>
                </div>
            </div>
        </div>
        </div>
    </ng-container>
</main>