<main class="p-3">
    <h1 class="fs-3 fw-bold">Reports - Yamazumi Hyou per Associate</h1>

    <div class="select-week my-3">
        <span>Select a week: </span>
        <span class="calendar">
            <i class="bi bi-calendar-event"></i>
        </span>

        <div class="filter">
            <table>
                <tr>
                    <td>Start Date</td>
                    <th>2023/5/1(Mon)</th>
                    <td>End Date</td>
                    <th>2023/5/7 (Sun)</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="select-name">
        <span>Associate Name:</span>
        <span class="fw-bold ass-name">
            Diola Norman
        </span>
        <span>Shift Type:</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="dropdown-button" id="shift" ngbDropdownToggle>
                Select Shift
            </button>
            <div ngbDropdownMenu aria-labelledby="shift">
                <button class="dropdown-item" ngbDropdownItem>Day Shift</button>
                <button class="dropdown-item" ngbDropdownItem>Night Shift</button>
            </div>
        </div>

        <button class="search" (click)="toggleGraph()">Search</button>
    </div>
    
    <ng-container *ngIf="isVisible">
        <p class="fw-bold text-primary my-3 text-center">Showing Results between 2023/5/1 to 2023/5/7</p>

        <canvas baseChart
            [data]="barChartData"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
        </canvas>
    </ng-container>
</main>