<main class="p-3">
    <h1 class="fs-3 fw-bold">Reports - Histogram</h1>

    <div class="select-period my-3">
        <div class="filter">
            <table>
                <tr>
                    <td>
                        1D 
                        <i class="bi bi-calendar-event"></i>
                    </td>
                    <td>
                        1W 
                        <i class="bi bi-calendar-event"></i>
                    </td>
                    <td>
                        1M
                        <i class="bi bi-calendar-event"></i>
                    </td>
                </tr>
            </table>
        </div>

        <div class="filter">
            <table>
                <tr>
                    <td>Start Date</td>
                    <th>2023/5/1(Mon)</th>
                    <td>End Date</td>
                    <th>2023/5/7 (Sun)</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="select-name">
        <span>Associate Name:</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="dropdown-button" id="shift" ngbDropdownToggle>
                Select Associate
            </button>
            <div ngbDropdownMenu aria-labelledby="shift">
                <button class="dropdown-item" ngbDropdownItem>(All)</button>
                <button class="dropdown-item" ngbDropdownItem>Ace Gabriel P. Pasiliao</button>
                <button class="dropdown-item" ngbDropdownItem>Jonas Villamar</button>
            </div>
        </div>
        <span>Shift Type:</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="dropdown-button" id="shift" ngbDropdownToggle>
                Select Shift
            </button>
            <div ngbDropdownMenu aria-labelledby="shift">
                <button class="dropdown-item" ngbDropdownItem>Day Shift</button>
                <button class="dropdown-item" ngbDropdownItem>Night Shift</button>
            </div>
        </div>
    </div>

    <div class="select-name my-3">
        <span>Work Class:</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="dropdown-button" id="shift" ngbDropdownToggle>
                Select Associate
            </button>
            <div ngbDropdownMenu aria-labelledby="shift">
                <button class="dropdown-item" ngbDropdownItem>(All)</button>
                <button class="dropdown-item" ngbDropdownItem>Ace Gabriel P. Pasiliao</button>
                <button class="dropdown-item" ngbDropdownItem>Jonas Villamar</button>
            </div>
        </div>

        <button class="plot" (click)="toggleGraph()">
            Plot Histogram
        </button>
    </div>

    <ng-container *ngIf="isVisible">
        <p class="fw-bold text-primary my-3 text-center">Showing Results between 2023/5/1 to 2023/5/7</p>

        <canvas baseChart
            [data]="barChartData"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'bar'">
        </canvas>
    </ng-container>

</main>